<ion-header>
  <ion-toolbar>
    <ion-title>Add new Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input required type="text" [(ngModel)]="pokemon.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type 1</ion-label>
      <ion-select [(ngModel)]="pokemon.type1" placeholder="Select One" name="type">
        <ion-select-option *ngFor="let type of types;" [value]="type.name">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Type 2</ion-label>
      <ion-select [(ngModel)]="pokemon.type2" placeholder="Select One" name="type">
        <ion-select-option *ngFor="let type of types;" [value]="type.name">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" [(ngModel)]="pokemon.weight" name="weight"></ion-input>
      <ion-label>Kg</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input type="number" [(ngModel)]="pokemon.height" name="height"></ion-input>
      <ion-label>M</ion-label>
    </ion-item>
    <ion-button (click)="takePhoto()">Take Photo</ion-button>
    <ion-button ion-button type="submit" block>Add Pokemon</ion-button>
  </form>
  <img src={{pokemon.image}}>
</ion-content>
